<section class="aprendiendo" id="aprendiendo">
    <picture>
        <img src="images/fondo-aprendiendo.png" class="image">
    </picture>
    <div class="centered">
        <div class="container">
            <h1 class="color-white">
                APRENDIENDO
            </h1>
        </div>
        <div class="container">
            <img class="square sq1 black cont-sqs" src="images/sello.png" alt="" onclick="sq1()">
            <img class="square sq2 black cont-sqs" src="images/Carne.png" alt="" onclick="sq2()">
            <img class="square sq3 black cont-sqs" src="images/alimentacion.png" alt="" onclick="sq3()">
        </div>
    </div>
</section>