<section class="aprendiendo" id="contacto">
        <picture>
            <img src="images/fondo-aprendiendo.png" class="image" >
        </picture>
        <div class="centered">
            <div class="container">
                <h1 class="color-white">
                    CONTACTO
                </h1>
                <p class="color-white">En que podemos ayudarte</p>
                <p class="color-white">Escríbenos a contacto@mafrox.com</p>
            </div>
            <div class="container">
                <div class="fila">
                        <div class="columna columna-50 ">
                            <div class="box-contact">
                                <div class="bd-rigth">
                                    <img src="images/li.png" alt="" class="w100">
                                </div>
                                <div>
                                    <p class="color-white">Calle 2 de Mayo 524</p>
                                    <p class="color-white">Miraflores - Lima, Perú</p>
                                    <p class="color-white"><i class="fas fa-phone green"></i> (063)750-023</p>
                                </div>
                            </div>
                            <div class="box-contact">
                                <div class="bd-rigth">
                                    <img src="images/ox.png" alt="" class="w80">
                                </div>
                            </div>
                        </div>
                        <div class="columna columna-50 box-contact">
                            <form action="">
                                <input type="text" placeholder="Nombre">
                                <input type="text" placeholder="Nombre">
                                <input type="text" placeholder="Nombre">
                                <input type="text" placeholder="Nombre">
                            </form>
                        </div>
                    </div>
            </div>
        </div>
    </section>