<section class="home" id="home">
    <picture>
        <img src="images/fondo-enciclopedia.png" class="image">
    </picture>
    <div class="container-enciclopedia">
        <a href="./aprendiendo.html" class="">
            <div class="title-enciclopedia">
                <img class="arrowWhite1 " src="images/atras.svg" alt="">
                <h1 class="">ENCICLOPEDIA DE LA CARNE</h1>
            </div>
        </a>
        <div class="centered color-white">
            <p class="">Aprende cómo sacarle máximo sabor a cada tipo de corte </p>
            <p class="">MAFROX RECOMIENDA</p>
            <div class="border-all">
                <p>Madurar por 15 días luego de la fecha de producción, para que la carne se encuentre</p>
            </div>
            <div class="border-all">
                <p>Reposar la carne a una temperatura de 0 a -3 para eliminar el estado de rigidez de los musculos y
                    romper
                    el tejido conjuntivo que une las obras musculares. Esto permite una concentración del sabor y una
                    textura más suave.</p>
            </div>
            <div class="border-all">
                <p>Al abrir la bolsa sellada al vacío, dejar la carne a la interperie por lo menos 2 horas previos a la
                    cocción.</p>
            </div>
            <a href="./nuestrosCortes.html" class="d-flex flex-end mt-4 white-font  ver-productos">
                <img src="images/adelante.svg" class="arrowWhite " alt="" srcset="">
                <p class="pl-2 sz-2">Ver Productos</p>
            </a>
        </div>
    </div>
</section>