<section class="home" id="nosotros">
        <picture>
            <img src="images/fondo-home.png" class="image" >
        </picture>
        <div class="centered">
            <h1 class="color-white">HISTORIA</h1>
            <img src="https://via.placeholder.com/200" alt="">
            <p class="color-white">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam quis, laudantium consectetur vel minus laborum expedita a sint ex enim nihil exercitationem veniam, non fugit nemo. Consequuntur accusantium vitae natus.</p>
        </div>
</section>